<!DOCTYPE html>
<html>
  <head>
    <title>ClientReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <nav>
    <h3>nav 1</h3>
    <h3>nav 2</h3>
    <h3>nav 3</h3>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
